<% if user_signed_in? %>

<section class="sub-nav">
  <ul>
    <li>
      <a href="/cafes"><i class="fas fa-search" id="search-icon"></i></a>
    </li>
    <li>
      <a href="/dashboard"><i class="fas fa-calendar-alt"></i></a>
    </li>
  </ul>
</section>
<% end %>
