<div class= "container py-5">
  <h1>Nomacafe</h1>
  <h3>Migrate to new areas</h3>
  <div class="btn btn-success">
    <a> <%= link_to "I'm a Nomad", dashboard_path(user_type: "nomad")  %> </a>
  </div>
  <div class="btn btn-success">
    <a> <%= link_to "I'm a Café", dashboard_path(user_type: "cafe")  %> </a>
  </div>
</div>
