<div class="back-homepage-image" style="background-image:url(<%= image_path 'home-bg.png' %>)">

<div class= "container py-5">
  <h1>NomaCafe</h1>
  <h6>Sign up | Login</h6>
  <div class="btn btn-success">
    <a> <%= link_to "I'm a Nomad", dashboard_path(user_type: "nomad")  %> </a>
  </div>
  <div class="btn btn-success">
    <a> <%= link_to "I'm a Café", dashboard_path(user_type: "cafe")  %> </a>
  </div>
</div>

</div>
