body{
      padding-bottom: 63px;
}
.map-list-btn {
  display: flex;
  justify-content: center;
  margin: auto;
}
.btn-map, .btn-list{
  line-height: 44px;
  border-radius: 100px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.btn-active {
    border: solid 1px #ccc;
   color: #fff;
   background-color: $nomacafe;
}

.fa-heart:before {
  color: $nomacafe;
  font-size: 40px;
  fill: red;

}

.btn-heart {
  border: none;
  background-color: transparent;
}

.cafe-fav {
  position: absolute;
  top: 71px;
  left: 16px;
}
.packages-page {
    margin-top: -20px;
    padding-top: 50px;
}
.sub-nav {
    // position: fixed;
    position: sticky;
    bottom: 0px;
    z-index: 9999;
    background: #fff;
    line-height: 60px;
    width: 100%;
    border-top: solid 1px #ccc;
}
.sub-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sub-nav ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    align-content: center;
}
