.fc-list-event {

}

.fc-list-event-time{

}

.fc-list-day-cushion{

}

.fc-list-day-text{

}

.fc-list-day-side-text{

}

.fc-dayGridMonth-button{
  background-color: $nomacafe !important;
}

.fc-timeGridWeek-button{
  background-color: $nomacafe !important;
}

.fc-listWeek-button{
  background-color: $nomacafe !important;
}

.fc-today-button{
  background-color: $nomacafe !important;
}

.fc-col-header-cell-cushion{
  color: $nomacafe !important;
}

.fc-daygrid-day-number{
  color: $nomacafe !important;
}

.fc-prev-button {
  background-color: $nomacafe !important;
}

.fc-next-button {
  background-color: $nomacafe !important;
}

.fc-timegrid-slot-label-cushion {
  color: $nomacafe !important;
}

.fc-timegrid-axis-cushion {
  color: $nomacafe !important;
}

.fc-list-day-text {
  color: $nomacafe !important;
}

.fc-list-day-side-text{
  color: $nomacafe !important;
}

.fc-list-event-time{
  color: $nomacafe !important;
}