.fc-list-event {

}

.fc-list-event-time{

}

.fc-list-day-cushion{

}

.fc-list-day-text{

}

.fc-list-day-side-text{

}

.fc-dayGridMonth-button{
  background-color: $nomacafe !important;
}

.fc-timeGridWeek-button{
  background-color: $nomacafe !important;
}

.fc-listWeek-button{
  background-color: $nomacafe !important;
}

.fc-today-button{
  background-color: $nomacafe !important;
}