.day-input{
  text-align: center;
}

// .calendar-days{
//   background-color: $nomacafe;
// }

.day-input:hover{
  opacity: 80%;
  cursor:pointer;
}

.btn-secondary {
  color: #fff;
  background-color: $nomacafe !important;
  border-color: $nomacafe !important
}

// .dropdown-menu{
//   text-align: center;
// }

// input[type="submit" i] {
// }

.time {
  // height: 90px !important;
  width: 120px !important;
  background-color: $nomacafe !important;
  color: #fff !important;
  margin-top: 10px;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

// input[type="checkbox" i]:hover {
//   cursor: pointer;
// }

// input[type="checkbox" i] {
//   margin-top: 15px;
// }

// input[type="submit" i] {
// }

// .slot-info{
//   margin-top: 15px;
// }