.mapboxgl-popup {
  width: 600px;
}
.map-window a div {
    width: 100%;
    min-height: 120px;
    border-radius: 6px;
    background-size: cover;
    border: solid 1px #b3b3b3;
    background-position: center;
}

.mapboxgl-popup-content {
    border-radius: 6px;
    padding: 1vw;
}
.mapboxgl-ctrl-group:not(:empty) {
    display: flex;
    align-items: center;
}
.map-window a h2 {
    font-size: 16px;
    line-height: 24px;
    color: #172823;
    padding-top: 8px;
    padding-left: 8px;
    margin: 0px;
    padding-bottom: 0px;
}
.map-window a p {
    font-size: 10px;
    line-height: 16px;
    color: rgba(23, 40, 35, 0.6);
    padding-left: 8px;
    padding-right: 8px;
}
.map-window a {
    text-decoration: none;
}
.buttons-container-map {
    padding: 2px;
    background: #fff;
    border: solid 1px #000;
    border-radius: 100px;
    line-height: 44px;
    display: flex;
}
// .mapboxgl-popup-content {
//   text-align: center;
//   font-family: 'Open Sans', sans-serif;
//   max-width: 100% !important;
// }

// .map-window {
//   background-size: cover;
//   height: 100%;
//   padding: 16px;
//   background-position: center;
//   font-size: 8px;

//   h2 {
//     margin: 0;
//     justify-content: end;
//   }
// }


// .mapboxgl-popup, .mapboxgl-popup-anchor-right {
//   max-width: 100% !important;
//   width: 100% !important;
// }
