.yin h1 {
  font-family: 'Pacifico', cursive;
}
.yang {
  background-color: rgba(255, 255, 255, 0.144);
}
.grid-container {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin: 16px;
  text-align: center;
  h3 {
    color: $noma2;
  }
}
.grid-item {
  background-color: #000000a2;
  border-radius: 5px;
  color: #f4f4f4;
  padding: 8px;
}
.order-page {
    padding: 1.5rem;
    background: #fff;
    margin: 1.5rem;
    border-radius: 6px;
    border: solid 1px #ccc;
    font-size: 18px;
}
span.divider {
    min-width: 100%;
    min-height: 1px;
    background: #ccc;
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.order-page h3 {
    font-size: 16px;
}

.col.order-container {
    margin: 1.5rem;
    padding: 1.5rem;
    background: #fff;
    border: solid 1px #ccc;
    border-radius: 6px;
}
span.btn-orders a {
    padding: .6rem;
    background: #9e020a;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
}
.packages-page {
    margin-top: -16px;
    padding-top: 30px;
}
.package-cards {
    display: grid;
    align-self: center;
    justify-items: center;
    margin-top: 44px;
}

.packages {
  padding: 16px;
  margin: 16px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;

  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  h3 {

    padding: 8px;
    border-radius: 8px;
    position: relative;
    bottom: 34px;

    background-color: $noma2;
    color: white;
  }
}

.packages-page {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;


  h1 {
    margin: 0 auto;
    text-align: center;
    color: white;
  }
}

@media (min-width: 100px) and (max-width: 575px) {
  .package-cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .package-cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .package-cards {
    grid-template-columns: 1fr 1fr;
  }
}
