.ninja {
  display: none;
}

.tabs-underlined {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $nomacafe;
}

.tabs-underlined .tab-underlined {
  color: white;
  padding: 8px;
  margin: 8px 16px;
  opacity: .6;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid white;
}

.active {
  opacity: 1;
  border-bottom: 3px solid white;
}

.bell-icon {
  color: $nomacafe;
  font-size: 22px;
  position: relative;
  top: 5px;
  left: 7px;
}

.bell-icon-notif {
  color: $nomacafe;
  font-size: 22px;
  position: relative;
  top: 5px;
  left: 21px;

  .fa-circle {
    color: $noma2;
    font-size: 12px;
    position: relative;
    bottom: 12px;
    right: 14px;

  }

}

.notifications-drop-down {
  right: 0;
  top: 56px;

}
